@model IEnumerable<OtoServisSatis.Entities.Satis>

@{
    ViewBag.Title = "Satışlar";
}

<h2>Satışlar</h2>

<p>
    @Html.ActionLink("Yeni Ekle", "Create", null, new { @class = "btn btn-info" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Arac.Renk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Musteri.Adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SatisFiyati)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SatisTarihi)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Arac.Renk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Musteri.Adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SatisFiyati)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SatisTarihi)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-primary" }) |

                @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })
            </td>
        </tr>
    }

</table>
