<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Oto Servis Satış Yönetimi</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/Admin/" class="nav-link px-2 text-secondary">Giriş</a></li>
                    <li><a href="/Admin/AracYonetimi" class="nav-link px-2 text-white">Araç Yönetimi</a></li>
                    <li><a href="/Admin/KullaniciYonetimi" class="nav-link px-2 text-white">Kullanıcı Yönetimi</a></li>
                    <li><a href="/Admin/MarkaYonetimi" class="nav-link px-2 text-white">Marka Yönetimi</a></li>
                    <li><a href="/Admin/MusteriYonetimi" class="nav-link px-2 text-white">Müşteri Yönetimi</a></li>
                    <li><a href="/Admin/Roller" class="nav-link px-2 text-white">Rol Yönetimi</a></li>
                    <li><a href="/Admin/SatisYonetimi" class="nav-link px-2 text-white">Satış Yönetimi</a></li>
                    <li><a href="/Admin/Servis" class="nav-link px-2 text-white">Servis Yönetimi</a></li>
                </ul>

                @*<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                    </form>*@
                @{
                    if (Session["admin"] != null)
                    {
                        <div class="text-end">                            
                            <a href="/Admin/Login/Logout" class="btn btn-danger">Çıkış</a>
                        </div>
                    }
                    else //eğer Session["admin"] boş ise kullanıcıyı login sayfasına yönlendir
                    {
                        Response.Redirect("/Admin/Login");
                    }
                }

            </div>
        </div>
    </header>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Oto Servis Satış Yönetimi</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")

    @RenderSection("scripts", required: false)
</body>
</html>